@media only screen and (max-width: 600px) {
  body {
    position: relative;
  }
  .container {
    max-width: 100%;
  }
  .aboutMe {
    margin-top: 48px;
    position: relative;
    max-width: 100%;
    width: 100%;
  }
  .aboutMeSec1 {
    padding-bottom: 0px;
  }
  .aboutMeSec1::after {
    top: 5%;
    height: 100%;
    max-width: 300px;
    min-height: 210px;
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/texture.svg);
    background-repeat: no-repeat;
    width: 80%;
    position: absolute;
    left: 0;
    right: auto;
    z-index: 1;
  }
  .aboutMeSec1 .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .tituloAboutMe {
    max-width: 550px;
    width: 100%;
    margin: 0 auto 40px;
    text-align: center;
  }
  .tituloAboutMe h1 {
    font-size: 36px;
    text-transform: uppercase;
  }
  .aboutMe .row {
    margin: 0;
    max-width: 100%;
  }
  .imgAboutMe {
    position: relative;
    width: 100%;
    padding: 0;
    z-index: 2;
    margin: 0;
  }
  .imgAboutMe img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    width: 100%;
    /* height: 70%; */
  }
  .contentAboutMe {
    max-width: 100%;
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0;
    width: 100%;
  }
  .contentAboutMe .subtituloAboutMe {
    margin-top: 60px;
  }
  .subtituloAboutMe h2 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: normal;
    color: #000;
    line-height: normal;
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  .contentAboutMe p {
    margin: 0;
    margin-bottom: 23px;
    width: 80%;
    padding-left: 10%;
  }

  .aboutMeSec2 {
    position: relative;
  }
  .aboutMeSec2 span {
    left: 3%;
    right: auto;
    z-index: 1;
    max-width: 40px;
    opacity: 0.08;
    font-size: 150px;
    letter-spacing: normal;
    text-align: center;
    color: #2d2a26;
    display: block;
    line-height: 1.3;
    position: absolute;
    top: 0;
  }
  .aboutMeSec2 .vidAboutMe {
    margin: 30px auto 50px;
    width: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .aboutMeSec2 .vidAboutMe .playerAbout {
    width: 80% !important;
    min-height: 100% !important;
    height: 100% !important;
  }
  .aboutMe2Col {
    margin-bottom: 80px;
    z-index: 2;
    overflow: visible;
    position: relative;
  }
  .aboutMe2Col .row {
    max-width: 100%;
  }
  .aboutMe2Col .row::after {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/texture.svg);
    background-repeat: no-repeat;
    max-width: 536px;
    min-height: 450px;
    width: 100%;
    position: absolute;
    left: auto;
    right: 0;
    top: 35%;
    z-index: 1;
  }
  .aboutMeColIzq {
    width: 100%;
  }
  .aboutMeColIzq .contentAboutMe {
    margin-left: 15px;
    width: 90%;
    text-align: left;
  }
  .aboutMeColIzq .contentAboutMe .textoAboutMe h2 {
    font-size: 22px;
    letter-spacing: normal;
    color: #000;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    padding-left: 15px;
  }
  .aboutMeColIzq .contentAboutMe .textoAboutMe h2::after {
    height: 75px;
    width: 200px;
    right: -41px;
    top: -26px;
    content: "";
    background-image: url("https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/Hand_Drawn_Circle.svg");
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .aboutMeColIzq .contentAboutMe p {
    margin: 0 0 19.44px;
    margin-left: 35px;
    margin-bottom: 23px;
    color: #000;
    font-size: 15px;
    width: 75%;
  }
  .aboutMeColDer {
    width: 100%;
  }
  .aboutMeColDer .divImgAboutMe {
    margin-top: 50px;
    z-index: 2;
    position: relative;
  }
  .aboutMeColDer .divImgAboutMe img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    width: 100%;
    /* max-height: 480px; */
  }
  .aboutMeTextoFinal {
    max-width: 100%;
    overflow: hidden;
    margin-left: 0;
    margin-bottom: 45px;
    width: 100%;
  }
  .aboutMeTextoFinal .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .aboutMeTextoFinal .container .subtituloAboutMe {
    padding: 20px 0;
    position: relative;
    text-align: left !important;
  }
  .aboutMeTextoFinal .container .subtituloAboutMe h2 {
    text-align: left !important;
    margin-bottom: 35px !important;
    margin: 0;
    font-size: 22px;
    line-height: 1.5;
    position: relative;
    max-width: max-content;
    text-transform: uppercase;
  }
  .aboutMeTextoFinal .container .subtituloAboutMe h2::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/section-title-primary-transparent.png);
    background-size: inherit;
    left: 0;
    bottom: -35px;
    height: 30px;
    background-position: center center;
  }
  .aboutMeTextoFinal .container p {
    margin: 0 0 19.44px;
    margin-left: 25px;
    margin-bottom: 23px;
    color: #000;
    font-size: 15px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1199px) {
  body {
    position: relative;
  }
  .container {
    max-width: 100%;
  }
  .aboutMe {
    margin-top: 48px;
    position: relative;
  }
  .aboutMeSec1 {
    padding-bottom: 0px;
  }
  .aboutMeSec1::after {
    top: 5%;
    height: 100%;
    max-width: 300px;
    min-height: 210px;
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/texture.svg);
    background-repeat: no-repeat;
    width: 80%;
    position: absolute;
    left: 0;
    right: auto;
    z-index: 1;
  }
  .aboutMeSec1 .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .tituloAboutMe {
    max-width: 550px;
    width: 100%;
    margin: 0 auto 40px;
    text-align: center;
  }
  .tituloAboutMe h1 {
    font-size: 36px;
    text-transform: uppercase;
  }
  .aboutMe .row {
    margin: 0;
    max-width: 100%;
  }
  .imgAboutMe {
    position: relative;
    width: 100%;
    padding: 0;
    z-index: 2;
    margin: 0;
  }
  .imgAboutMe img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    width: 100%;
    /* height: 70%; */
  }
  .contentAboutMe {
    max-width: 70%;
    position: relative;
    margin: 0 auto;
  }
  .contentAboutMe .subtituloAboutMe {
    margin-top: 60px;
  }
  .subtituloAboutMe h2 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: normal;
    color: #000;
    line-height: normal;
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
    padding-left: 25px;
    text-transform: uppercase;
  }
  .contentAboutMe p {
    margin: 0;
    margin-bottom: 23px;
    width: 80%;
    padding-left: 10%;
    font-size: 20px;
  }

  .aboutMeSec2 {
    position: relative;
  }
  .aboutMeSec2 span {
    left: 3%;
    right: auto;
    z-index: 1;
    max-width: 40px;
    opacity: 0.08;
    font-size: 215px;
    letter-spacing: normal;
    text-align: center;
    color: #2d2a26;
    display: block;
    line-height: 1.3;
    position: absolute;
    top: 0;
  }
  .aboutMeSec2 .vidAboutMe {
    margin: 30px auto 50px;
    width: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .aboutMeSec2 .vidAboutMe .playerAbout {
    width: 60% !important;
    min-height: 100% !important;
    height: 100% !important;
  }
  .aboutMe2Col {
    margin-bottom: 80px;
    z-index: 2;
    overflow: visible;
    position: relative;
  }
  .aboutMe2Col .row {
    max-width: 100%;
  }
  .aboutMe2Col .row::after {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/texture.svg);
    background-repeat: no-repeat;
    max-width: 536px;
    min-height: 450px;
    width: 100%;
    position: absolute;
    left: auto;
    right: 0;
    top: 35%;
    z-index: 1;
  }
  .aboutMeColIzq {
    width: 70%;
    margin: 0 auto;
  }
  .aboutMeColIzq .contentAboutMe {
    margin-left: 15px;
    width: 100%;
    text-align: left;
  }
  .aboutMeColIzq .contentAboutMe .textoAboutMe h2 {
    font-size: 28px;
    letter-spacing: normal;
    color: #000;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    padding-left: 15px;
  }
  .aboutMeColIzq .contentAboutMe .textoAboutMe h2::after {
    height: 75px;
    width: 200px;
    right: -41px;
    top: -26px;
    content: "";
    background-image: url("https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/Hand_Drawn_Circle.svg");
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .aboutMeColIzq .contentAboutMe p {
    margin: 0 0 19.44px;
    margin-left: 35px;
    margin-bottom: 23px;
    color: #000;
    font-size: 20px;
    width: 75%;
  }
  .aboutMeColDer {
    width: 100%;
  }
  .aboutMeColDer .divImgAboutMe {
    margin-top: 50px;
    z-index: 2;
    position: relative;
  }
  .aboutMeColDer .divImgAboutMe img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    width: 100%;
    /* max-height: 480px; */
  }
  .aboutMeTextoFinal {
    max-width: 100%;
    overflow: hidden;
    margin-left: 0;
    margin-bottom: 45px;
    width: 100%;
  }
  .aboutMeTextoFinal .container {
    max-width: 70%;
    margin: 0 auto;
  }
  .aboutMeTextoFinal .container .subtituloAboutMe {
    padding: 20px 0;
    position: relative;
    text-align: left !important;
  }
  .aboutMeTextoFinal .container .subtituloAboutMe h2 {
    text-align: left !important;
    margin-bottom: 35px !important;
    margin: 0;
    font-size: 28px;
    line-height: 1.5;
    position: relative;
    max-width: max-content;
    text-transform: uppercase;
  }
  .aboutMeTextoFinal .container .subtituloAboutMe h2::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/section-title-primary-transparent.png);
    background-size: inherit;
    left: 0;
    bottom: -35px;
    height: 30px;
    background-position: center center;
  }
  .aboutMeTextoFinal .container p {
    margin: 0 0 19.44px;
    margin-left: 25px;
    margin-bottom: 23px;
    color: #000;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1595px) {
  body {
    position: relative;
  }
  .container {
    max-width: 1200px;
  }
  .aboutMe {
    margin-top: 48px;
    position: relative;
  }
  .aboutMeSec1 {
    padding-bottom: 0px;
  }
  .aboutMeSec1::before {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/red-stripe.png);
    background-repeat: no-repeat;
    width: 195px;
    height: 276px;
    position: absolute;
    display: block;
    right: 0px;
    left: auto;
    background-size: contain;
    z-index: 9;
  }
  .aboutMeSec1::after {
    top: 10%;
    height: 100%;
    max-width: 466px;
    min-height: 484px;
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/texture.svg);
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    left: 0;
    right: auto;
    z-index: 1;
  }
  .aboutMeSec1 .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  .tituloAboutMe {
    max-width: 550px;
    width: 100%;
    margin: 0 auto 64px;
    text-align: center;
  }
  .tituloAboutMe h1 {
    font-size: 36px;
    text-transform: uppercase;
  }
  .aboutMe .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  .imgAboutMe {
    flex: 0 0 45%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding: 0 15px;
    z-index: 2;
  }
  .imgAboutMe img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    width: 100%;
    /* height: 70%; */
  }
  .contentAboutMe {
    flex: 0 0 35%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding: 0 15px;
    margin-left: 15px;
    width: 100%;
  }
  .contentAboutMe .subtituloAboutMe {
    margin-top: 144px;
  }
  .subtituloAboutMe h2 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: normal;
    color: #000;
    line-height: normal;
    position: relative;
    display: inline-block;
    margin-bottom: 41px;
    text-transform: uppercase;
  }
  .contentAboutMe p {
    margin: 0 0 19.444px;
    margin-left: 25px;
    margin-bottom: 23px;
  }

  .aboutMeSec2 {
    position: relative;
  }
  .aboutMeSec2 span {
    left: 3%;
    right: auto;
    z-index: 1;
    max-width: 40px;
    opacity: 0.08;
    font-size: 215px;
    letter-spacing: normal;
    text-align: center;
    color: #2d2a26;
    display: block;
    line-height: 1.3;
    position: absolute;
    top: 0;
  }
  .aboutMeSec2 .vidAboutMe {
    margin: 30px auto 50px;
    max-width: 779px;
    width: 100%;
    text-align: center;
    min-height: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .aboutMeSec2 .vidAboutMe .playerAbout {
    width: 40% !important;
    min-height: 100% !important;
    height: 100% !important;
  }
  .aboutMe2Col {
    margin-bottom: 80px;
    z-index: 2;
    overflow: visible;
    position: relative;
  }
  .aboutMe2Col .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    max-width: 99% !important;
  }
  .aboutMe2Col .row::after {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/texture.svg);
    background-repeat: no-repeat;
    max-width: 536px;
    min-height: 504px;
    width: 100%;
    position: absolute;
    left: auto;
    right: 0;
    top: 35%;
    z-index: 1;
  }
  .aboutMeColIzq {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .aboutMeColIzq .contentAboutMe {
    margin-left: 15px;
    max-width: 456px;
    width: 100%;
  }
  .aboutMeColIzq .contentAboutMe .textoAboutMe h2 {
    font-size: 28px;
    letter-spacing: normal;
    color: #000;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    padding-left: 15px;
  }
  .aboutMeColIzq .contentAboutMe .textoAboutMe h2::after {
    height: 75px;
    width: 200px;
    right: -41px;
    top: -26px;
    content: "";
    background-image: url("https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/Hand_Drawn_Circle.svg");
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .aboutMeColIzq .contentAboutMe p {
    margin: 0 0 19.44px;
    margin-left: 35px;
    margin-bottom: 23px;
    color: #000;
  }
  .aboutMeColDer {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .aboutMeColDer .divImgAboutMe {
    margin-top: 100px;
    z-index: 2;
    position: relative;
  }
  .aboutMeColDer .divImgAboutMe img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    width: 100%;
    /* max-height: 480px; */
  }
  .aboutMeTextoFinal {
    max-width: 100%;
    overflow: hidden;
    margin-left: 0;
    margin-bottom: 97px;
    width: 100%;
  }
  .aboutMeTextoFinal::after {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/red-stripe.png);
    background-repeat: no-repeat;
    width: 195px;
    height: 276px;
    position: absolute;
    display: block;
    left: -57px;
    right: auto;
    top: 85%;
    background-size: contain;
    z-index: 1;
  }
  .aboutMeTextoFinal .container {
    margin-left: 230px;
    max-width: 486px;
    width: 100%;
  }
  .aboutMeTextoFinal .container .subtituloAboutMe {
    padding: 20px 0;
    position: relative;
    text-align: left !important;
  }
  .aboutMeTextoFinal .container .subtituloAboutMe h2 {
    text-align: left !important;
    margin-bottom: 35px !important;
    margin: 0;
    font-size: 28px;
    line-height: 1.5;
    position: relative;
    max-width: max-content;
    text-transform: uppercase;
  }
  .aboutMeTextoFinal .container .subtituloAboutMe h2::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/section-title-primary-transparent.png);
    background-size: inherit;
    left: 0;
    bottom: -35px;
    height: 30px;
    background-position: center center;
  }
  .aboutMeTextoFinal .container p {
    margin: 0 0 19.44px;
    margin-left: 25px;
    margin-bottom: 23px;
    color: #000;
  }
}

@media only screen and (min-width: 1596px) {
  body {
    position: relative;
  }
  .container {
    max-width: 1200px;
  }
  .aboutMe {
    margin-top: 48px;
    position: relative;
    padding-left: 150px;
  }
  .aboutMeSec1 {
    padding-bottom: 0px;
  }
  /* .aboutMeSec1::before {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/red-stripe.png);
    background-repeat: no-repeat;
    width: 195px;
    height: 276px;
    position: absolute;
    display: block;
    right: 0px;
    left: auto;
    background-size: contain;
    z-index: 9;
  } */
  .aboutMeSec1::after {
    top: 7%;
    height: 500px;
    max-width: 700px;
    min-height: 500px !important;
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/texture.svg);
    background-repeat: repeat;
    width: 700px;
    position: absolute;
    left: 0;
    right: auto;
    z-index: 1;
  }
  .aboutMeSec1 .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  .tituloAboutMe {
    max-width: 550px;
    width: 100%;
    margin: 0 auto 64px;
    text-align: center;
  }
  .tituloAboutMe h1 {
    font-size: 36px;
    text-transform: uppercase;
  }
  .aboutMe .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  .imgAboutMe {
    flex: 0 0 45%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding: 0 15px;
    z-index: 2;
  }
  .imgAboutMe img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    width: 100%;
    /* height: 70%; */
  }
  .contentAboutMe {
    flex: 0 0 35%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding: 0 15px;
    margin-left: 15px;
    width: 100%;
  }
  .contentAboutMe .subtituloAboutMe {
    margin-top: 144px;
  }
  .subtituloAboutMe h2 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: normal;
    color: #000;
    line-height: normal;
    position: relative;
    display: inline-block;
    margin-bottom: 41px;
    text-transform: uppercase;
  }
  .contentAboutMe p {
    margin: 0 0 19.444px;
    margin-left: 25px;
    margin-bottom: 23px;
  }

  .aboutMeSec2 {
    position: relative;
  }
  .aboutMeSec2 span {
    left: -3%;
    right: auto;
    z-index: 1;
    max-width: 40px;
    opacity: 0.08;
    font-size: 215px;
    letter-spacing: normal;
    text-align: center;
    color: #2d2a26;
    display: block;
    line-height: 1.3;
    position: absolute;
    top: 0;
  }
  .aboutMeSec2 .vidAboutMe {
    margin: 30px auto 50px;
    max-width: 779px;
    width: 100%;
    text-align: center;
    min-height: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .aboutMeSec2 .vidAboutMe .playerAbout {
    width: 45% !important;
    min-height: 100% !important;
    height: 100% !important;
  }
  .aboutMe2Col {
    margin-bottom: 80px;
    z-index: 2;
    overflow: visible;
    position: relative;
  }
  .aboutMe2Col .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    max-width: 99% !important;
  }
  .aboutMe2Col .row::after {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/texture.svg);
    background-repeat: repeat;
    max-width: 800px !important;
    min-height: 504px;
    width: 800px !important;
    position: absolute;
    left: auto;
    right: 0;
    top: 35%;
    z-index: 1;
  }
  .aboutMeColIzq {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .aboutMeColIzq .contentAboutMe {
    margin-left: 15px;
    max-width: 456px;
    width: 100%;
  }
  .aboutMeColIzq .contentAboutMe .textoAboutMe h2 {
    font-size: 28px;
    letter-spacing: normal;
    color: #000;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    padding-left: 15px;
  }
  .aboutMeColIzq .contentAboutMe .textoAboutMe h2::after {
    height: 75px;
    width: 200px;
    right: -41px;
    top: -26px;
    content: "";
    background-image: url("https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/Hand_Drawn_Circle.svg");
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .aboutMeColIzq .contentAboutMe p {
    margin: 0 0 19.44px;
    margin-left: 35px;
    margin-bottom: 23px;
    color: #000;
  }
  .aboutMeColDer {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .aboutMeColDer .divImgAboutMe {
    margin-top: 100px;
    z-index: 2;
    position: relative;
  }
  .aboutMeColDer .divImgAboutMe img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    width: 100%;
    /* max-height: 480px; */
  }
  .aboutMeTextoFinal {
    max-width: 100%;
    overflow: hidden;
    margin-left: 0;
    margin-bottom: 97px;
    width: 100%;
  }
  .aboutMeTextoFinal::after {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/red-stripe.png);
    background-repeat: no-repeat;
    width: 195px;
    height: 276px;
    position: absolute;
    display: block;
    left: -150px;
    right: auto;
    top: 85%;
    background-size: contain;
    z-index: 1;
  }
  .aboutMeTextoFinal .container {
    margin-left: 230px;
    max-width: 486px;
    width: 100%;
  }
  .aboutMeTextoFinal .container .subtituloAboutMe {
    padding: 20px 0;
    position: relative;
    text-align: left !important;
  }
  .aboutMeTextoFinal .container .subtituloAboutMe h2 {
    text-align: left !important;
    margin-bottom: 35px !important;
    margin: 0;
    font-size: 28px;
    line-height: 1.5;
    position: relative;
    max-width: max-content;
    text-transform: uppercase;
  }
  .aboutMeTextoFinal .container .subtituloAboutMe h2::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(https://cdn.shopify.com/s/files/1/1103/4864/t/140/assets/section-title-primary-transparent.png);
    background-size: inherit;
    left: 0;
    bottom: -35px;
    height: 30px;
    background-position: center center;
  }
  .aboutMeTextoFinal .container p {
    margin: 0 0 19.44px;
    margin-left: 25px;
    margin-bottom: 23px;
    color: #000;
  }
}
