@media only screen and (max-width: 600px) {
  .nosTitulo {
    color: #bf9000;
    margin: 0;
    text-align: center;
  }
  .nosotrosCateg {
    width: 50%;
    padding-left: 7%;
    display: inline-block;
  }
  .nosImg {
    width: 30%;
    padding-left: 7%;
    display: inline-block;
    vertical-align: top;
    padding-top: 60px;
  }
  .nosImg img {
    width: 100%;
  }
  .nosotrosCateg p {
    color: white;
    text-align: justify;
    font-size: 15px;
  }
  .nosCatTitulo {
    color: #f2f37b;
    text-align: center;
    font-size: 30px;
    text-decoration: underline #767171;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .nosTitulo {
    color: #bf9000;
    margin: 0;
    text-align: center;
    font-size: 40px;
  }
  .nosotrosCateg {
    width: 50%;
    padding-left: 7%;
    display: inline-block;
  }
  .nosImg {
    width: 30%;
    padding-left: 7%;
    display: inline-block;
    vertical-align: top;
    padding-top: 60px;
  }
  .nosImg img {
    width: 100%;
  }
  .nosotrosCateg p {
    color: white;
    text-align: justify;
    font-size: 25px;
  }
  .nosCatTitulo {
    color: #f2f37b;
    text-align: center;
    font-size: 40px;
    text-decoration: underline #767171;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1595px) {
  .nosTitulo {
    color: #bf9000;
    margin: 0;
    text-align: center;
    font-size: 35px;
  }
  .nosotrosCateg {
    width: 50%;
    padding-left: 10%;
    display: inline-block;
  }
  .nosImg {
    width: 20%;
    padding-left: 10%;
    display: inline-block;
    vertical-align: top;
    padding-top: 60px;
  }
  .nosImg img {
    width: 100%;
  }
  .nosotrosCateg p {
    color: white;
    text-align: justify;
    font-size: 20px;
  }
  .nosCatTitulo {
    color: #f2f37b;
    text-align: center;
    font-size: 35px;
    text-decoration: underline #767171;
  }
}

@media only screen and (min-width: 1596px) {
  .nosTitulo {
    color: #bf9000;
    margin: 0;
    text-align: center;
    font-size: 35px;
  }
  .nosotrosCateg {
    width: 40%;
    padding-left: 17%;
    display: inline-block;
  }
  .nosImg {
    width: 15%;
    padding-left: 12%;
    display: inline-block;
    vertical-align: top;
    padding-top: 60px;
  }
  .nosImg img {
    width: 100%;
  }
  .nosotrosCateg p {
    color: white;
    text-align: justify;
    font-size: 20px;
  }
  .nosCatTitulo {
    color: #f2f37b;
    text-align: center;
    font-size: 35px;
    text-decoration: underline #767171;
  }
}
