@font-face {
  font-family: "AvenirLight";
  src: url("../fonts/Avenir\ Light.ttf");
}
@font-face {
  font-family: "AvenirBook";
  src: url("../fonts/Avenir\ Book.ttf");
}
@font-face {
  font-family: "AvenirBlack";
  src: url("../fonts/Avenir\ Black.ttf");
}
@font-face {
  font-family: "MonumentLight";
  src: url("../fonts/Monument\ Extended\ Light.ttf");
}
@font-face {
  font-family: "MonumentRegular";
  src: url("../fonts/MonumentExtended-Regular.otf");
}
@font-face {
  font-family: "MonumentUltrabold";
  src: url("../fonts/MonumentExtended-Ultrabold.otf");
}
body {
  font-family: "AvenirLight" !important;
}

@media only screen and (max-width: 600px) {
  .botonPagos {
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  .botonPagos button {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.278;
    letter-spacing: 1px;
    padding: 1.7rem 0;
    width: 100%;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    display: inline-block;
    border: 3px solid #000;
    border-radius: 5%;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: rgb(41, 41, 41);
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .botonPagos {
    margin: 100px;
    text-align: center;
  }
  .botonPagos button {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.278;
    letter-spacing: 1px;
    padding: 3rem 6rem;
    user-select: none;
    border-radius: 0;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border: 3px solid #000;
    border-radius: 5%;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: rgb(41, 41, 41);
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1595px) {
  .botonPagos {
    margin: 100px;
    text-align: center;
  }
  .botonPagos button {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.278;
    letter-spacing: 1px;
    padding: 3rem 6rem;
    user-select: none;
    border-radius: 0;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border: 3px solid #000;
    border-radius: 5%;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: rgb(41, 41, 41);
  }
}
@media only screen and (min-width: 1596px) {
  .botonPagos {
    margin: 100px;
    text-align: center;
  }
  .botonPagos button {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.278;
    letter-spacing: 1px;
    padding: 3rem 6rem;
    user-select: none;
    border-radius: 0;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border: 3px solid #000;
    border-radius: 5%;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: rgb(41, 41, 41);
  }
}
