@media only screen and (max-width: 600px) {
  .secCarrito {
    display: block;
  }
  .secCarrito .container {
    max-width: 1200px;
    width: calc(100%-30px);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .carrito {
    color: #333232;
  }
  .carrito form {
    margin: 0;
  }
  .columnasCarrito {
    padding: 40px 0;
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
  }
  .columCarro {
    position: relative;
    padding: 0 20px;
    max-width: 90%;
    flex: 0 0 90%;
  }
  .contenidoColumna h4 {
    margin-bottom: 3.125rem;
    font-size: 1.6875rem;
    line-height: 0.778;
    letter-spacing: -1px;
    font-family: "Russo One", sans-serif;
  }
  .objetoCarrito {
    position: relative;
    display: flex;
    margin-bottom: 0.75rem;
    padding: 0.5rem 0;
  }
  .objCarroIzq {
    width: 90px;
    height: 90px;
    margin-right: 12px;
    flex-shrink: 0;
  }
  .objCarroImg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
  }
  .objCarroImg a {
    outline: none !important;
    transition: 0.3s;
    text-decoration: none;
    color: black;
  }
  .objCarroImg img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
  }
  .objCarroDer {
    flex-grow: 1;
  }
  .objCarroTitulo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2px;
  }
  .objCarroTitulo a {
    text-decoration: none;
    display: inline-block;
    outline: none !important;
    color: black;
  }
  .objCarroTitulo h3 {
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    line-height: 1.143;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .objCarroBorrar {
    background-color: transparent;
    padding: 0;
    border: 0;
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 8px;
    padding-top: 0;
    outline: none;
    box-shadow: none;
    cursor: pointer;
  }
  .objCarroAbajo {
    display: flex;
    align-items: center;
    text-align: right;
    margin-top: 0.625rem;
  }
  .objCarroCantidad {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ececec;
    margin-top: 4px;
  }
  .objCarroCantIcono {
    width: 28px;
    height: 26px;
    background-color: transparent;
    border: 0;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .objCarroCantNum {
    font-size: 0.75rem;
    color: black;
    line-height: 1.33;
    width: 34px;
    height: auto;
    text-align: center;
    padding: 0;
    border: 0;
  }
  .objCarroPreico {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.143;
    letter-spacing: 0.2px;
    margin-left: auto;
    text-align: right;
  }
  .secColMedio {
    max-width: 440px;
    margin: 0 auto;
  }
  .secColMedio h4 {
    margin-bottom: 3.125rem;
    font-size: 1.6875rem;
    line-height: 0.778;
    letter-spacing: -1px;
    font-family: "Russo One", sans-serif;
  }
  .secColMedio p {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.67;
    color: black;
    margin: 0 0 19.44px;
  }
  .carroSubTotal {
    color: black;
    font-weight: 700;
  }
  .carroSubTotalPrecio {
    font-weight: 700;
  }
  .secColMedio button {
    width: 100%;
    margin-bottom: 30px;
    color: white;
    background-color: black;
    border-color: black;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.278;
    letter-spacing: 0.2px;
    padding: 0.85rem 4.25rem;
    border-radius: 0;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
  }
  .columnasCarrito .columCarro + .columCarro::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #bfb7b0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .secCarrito {
    display: block;
  }
  .secCarrito .container {
    max-width: 1200px;
    width: calc(100%-30px);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .carrito {
    color: #333232;
  }
  .carrito form {
    margin: 0;
  }
  .columnasCarrito {
    border-top: 1px solid #bfb7b0;
    padding: 40px 0;
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .columCarro {
    position: relative;
    padding: 0 20px;
    max-width: 40%;
    flex: 0 0 40%;
  }
  .contenidoColumna {
    max-width: 300px;
    margin: 0 auto;
  }
  .contenidoColumna h4 {
    margin-bottom: 3.125rem;
    font-size: 1.6875rem;
    line-height: 0.778;
    letter-spacing: -1px;
    font-family: "Russo One", sans-serif;
  }
  .objetoCarrito {
    position: relative;
    display: flex;
    margin-bottom: 0.75rem;
    padding: 0.5rem 0;
  }
  .objCarroIzq {
    width: 90px;
    height: 90px;
    margin-right: 12px;
    flex-shrink: 0;
  }
  .objCarroImg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
  }
  .objCarroImg a {
    outline: none !important;
    transition: 0.3s;
    text-decoration: none;
    color: black;
  }
  .objCarroImg img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
  }
  .objCarroDer {
    flex-grow: 1;
  }
  .objCarroTitulo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2px;
  }
  .objCarroTitulo a {
    text-decoration: none;
    display: inline-block;
    outline: none !important;
    color: black;
  }
  .objCarroTitulo h3 {
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    line-height: 1.143;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .objCarroBorrar {
    background-color: transparent;
    padding: 0;
    border: 0;
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 8px;
    padding-top: 0;
    outline: none;
    box-shadow: none;
    cursor: pointer;
  }
  .objCarroAbajo {
    display: flex;
    align-items: center;
    text-align: right;
    margin-top: 0.625rem;
  }
  .objCarroCantidad {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ececec;
    margin-top: 4px;
  }
  .objCarroCantIcono {
    width: 28px;
    height: 26px;
    background-color: transparent;
    border: 0;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .objCarroCantNum {
    font-size: 0.75rem;
    color: black;
    line-height: 1.33;
    width: 34px;
    height: auto;
    text-align: center;
    padding: 0;
    border: 0;
  }
  .objCarroPreico {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.143;
    letter-spacing: 0.2px;
    margin-left: auto;
    text-align: right;
  }
  .secColMedio {
    max-width: 440px;
    margin: 0 auto;
  }
  .secColMedio h4 {
    margin-bottom: 3.125rem;
    font-size: 1.6875rem;
    line-height: 0.778;
    letter-spacing: -1px;
    font-family: "Russo One", sans-serif;
  }
  .secColMedio p {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.67;
    color: black;
    margin: 0 0 19.44px;
  }
  .carroSubTotal {
    color: black;
    font-weight: 700;
  }
  .carroSubTotalPrecio {
    font-weight: 700;
  }
  .secColMedio button {
    width: 100%;
    margin-bottom: 30px;
    color: white;
    background-color: black;
    border-color: black;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.278;
    letter-spacing: 0.2px;
    padding: 0.85rem 4.25rem;
    border-radius: 0;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
  }
  .columnasCarrito .columCarro + .columCarro::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background-color: #bfb7b0;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1595px) {
  .secCarrito {
    display: block;
  }
  .secCarrito .container {
    max-width: 1200px;
    width: calc(100%-30px);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .carrito {
    color: #333232;
  }
  .carrito form {
    margin: 0;
  }
  .columnasCarrito {
    border-top: 1px solid #bfb7b0;
    padding: 40px 0;
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
  }
  .columCarro {
    position: relative;
    padding: 0 20px;
    max-width: 46%;
    flex: 0 0 46%;
  }
  .contenidoColumna {
    max-width: 300px;
    margin: 0 auto;
  }
  .contenidoColumna h4 {
    margin-bottom: 3.125rem;
    font-size: 1.6875rem;
    line-height: 0.778;
    letter-spacing: -1px;
    font-family: "Russo One", sans-serif;
  }
  .objetoCarrito {
    position: relative;
    display: flex;
    margin-bottom: 0.75rem;
    padding: 0.5rem 0;
  }
  .objCarroIzq {
    width: 90px;
    height: 90px;
    margin-right: 12px;
    flex-shrink: 0;
  }
  .objCarroImg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
  }
  .objCarroImg a {
    outline: none !important;
    transition: 0.3s;
    text-decoration: none;
    color: black;
  }
  .objCarroImg img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
  }
  .objCarroDer {
    flex-grow: 1;
  }
  .objCarroTitulo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2px;
  }
  .objCarroTitulo a {
    text-decoration: none;
    display: inline-block;
    outline: none !important;
    color: black;
  }
  .objCarroTitulo h3 {
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    line-height: 1.143;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .objCarroBorrar {
    background-color: transparent;
    padding: 0;
    border: 0;
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 8px;
    padding-top: 0;
    outline: none;
    box-shadow: none;
    cursor: pointer;
  }
  .objCarroAbajo {
    display: flex;
    align-items: center;
    text-align: right;
    margin-top: 0.625rem;
  }
  .objCarroCantidad {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ececec;
    margin-top: 4px;
  }
  .objCarroCantIcono {
    width: 28px;
    height: 26px;
    background-color: transparent;
    border: 0;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .objCarroCantNum {
    font-size: 0.75rem;
    color: black;
    line-height: 1.33;
    width: 34px;
    height: auto;
    text-align: center;
    padding: 0;
    border: 0;
  }
  .objCarroPreico {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.143;
    letter-spacing: 0.2px;
    margin-left: auto;
    text-align: right;
  }
  .secColMedio {
    max-width: 440px;
    margin: 0 auto;
  }
  .secColMedio h4 {
    margin-bottom: 3.125rem;
    font-size: 1.6875rem;
    line-height: 0.778;
    letter-spacing: -1px;
    font-family: "Russo One", sans-serif;
  }
  .secColMedio p {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.67;
    color: black;
    margin: 0 0 19.44px;
  }
  .carroSubTotal {
    color: black;
    font-weight: 700;
  }
  .carroSubTotalPrecio {
    font-weight: 700;
  }
  .secColMedio button {
    width: 100%;
    margin-bottom: 30px;
    color: white;
    background-color: black;
    border-color: black;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.278;
    letter-spacing: 0.2px;
    padding: 0.85rem 4.25rem;
    border-radius: 0;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
  }
  .columnasCarrito .columCarro + .columCarro::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background-color: #bfb7b0;
  }
}

@media only screen and (min-width: 1596px) {
  .secCarrito {
    display: block;
  }
  .secCarrito .container {
    max-width: 1200px;
    width: calc(100%-30px);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .carrito {
    color: #333232;
  }
  .carrito form {
    margin: 0;
  }
  .columnasCarrito {
    border-top: 1px solid #bfb7b0;
    padding: 40px 0;
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
  }
  .columCarro {
    position: relative;
    padding: 0 20px;
    max-width: 46%;
    flex: 0 0 46%;
  }
  .contenidoColumna {
    max-width: 300px;
    margin: 0 auto;
  }
  .contenidoColumna h4 {
    margin-bottom: 3.125rem;
    font-size: 1.6875rem;
    line-height: 0.778;
    letter-spacing: -1px;
    font-family: "Russo One", sans-serif;
  }
  .objetoCarrito {
    position: relative;
    display: flex;
    margin-bottom: 0.75rem;
    padding: 0.5rem 0;
  }
  .objCarroIzq {
    width: 90px;
    height: 90px;
    margin-right: 12px;
    flex-shrink: 0;
  }
  .objCarroImg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
  }
  .objCarroImg a {
    outline: none !important;
    transition: 0.3s;
    text-decoration: none;
    color: black;
  }
  .objCarroImg img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
  }
  .objCarroDer {
    flex-grow: 1;
  }
  .objCarroTitulo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2px;
  }
  .objCarroTitulo a {
    text-decoration: none;
    display: inline-block;
    outline: none !important;
    color: black;
  }
  .objCarroTitulo h3 {
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    line-height: 1.143;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .objCarroBorrar {
    background-color: transparent;
    padding: 0;
    border: 0;
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 8px;
    padding-top: 0;
    outline: none;
    box-shadow: none;
    cursor: pointer;
  }
  .objCarroAbajo {
    display: flex;
    align-items: center;
    text-align: right;
    margin-top: 0.625rem;
  }
  .objCarroCantidad {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ececec;
    margin-top: 4px;
  }
  .objCarroCantIcono {
    width: 28px;
    height: 26px;
    background-color: transparent;
    border: 0;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .objCarroCantNum {
    font-size: 0.75rem;
    color: black;
    line-height: 1.33;
    width: 34px;
    height: auto;
    text-align: center;
    padding: 0;
    border: 0;
  }
  .objCarroPreico {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.143;
    letter-spacing: 0.2px;
    margin-left: auto;
    text-align: right;
  }
  .secColMedio {
    max-width: 440px;
    margin: 0 auto;
  }
  .secColMedio h4 {
    margin-bottom: 3.125rem;
    font-size: 1.6875rem;
    line-height: 0.778;
    letter-spacing: -1px;
    font-family: "Russo One", sans-serif;
  }
  .secColMedio p {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.67;
    color: black;
    margin: 0 0 19.44px;
  }
  .carroSubTotal {
    color: black;
    font-weight: 700;
  }
  .carroSubTotalPrecio {
    font-weight: 700;
  }
  .secColMedio button {
    width: 100%;
    margin-bottom: 30px;
    color: white;
    background-color: black;
    border-color: black;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.278;
    letter-spacing: 0.2px;
    padding: 0.85rem 4.25rem;
    border-radius: 0;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
  }
  .columnasCarrito .columCarro + .columCarro::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background-color: #bfb7b0;
  }
}
