/* Content styling */
/* fonts for the text */
@import url('https://fonts.googleapis.com/css?family=Merriweather:700|Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');

@media screen and (max-width: 600px) {
  /* Text Color Variables */
$text-color: #444c5c;

/* Color Variables */
$main-bg: #f7f6f4;
$main-grey: #d8d5c4;
$main-green: #78a5a3;
$main-yellow-light: #e1b16a;
$main-yellow: #ffc300;
$main-blue: #444c5c;
$main-dark:rgb(51, 51, 51);
$main-red: #ffe593;
$main-white: #ffffff;
$main-black: #000a17;
$main-overlay:rgba(0, 0, 0, .3);

/* Lists */
$colors: $main-yellow $main-green $main-blue $main-red $main-dark;
$rainbowColors: $main-yellow $main-grey $main-blue $main-red $main-dark $main-red $main-blue $main-grey $main-yellow;
$fourColors: $main-yellow $main-green $main-blue $main-red;
$pages: "home" "about" "skills" "contact" "blog";

//Themes For Every Route
$theme-colors: (
    'bg': (
        'home': $main-dark,
        'about': $main-green,
        'skills': $main-blue,
        'contact': $main-red,
        'blog': $main-yellow,
    ),

    'text': (
        'home': $main-white,
        'about': $main-white,
        'skills': $main-white,
        'contact': $main-white,
        'blog': $main-white,
    ),
);

@function themeColor($key, $variant) {
    $map: map-get($theme-colors, $key);
    @return map-get($map, $variant);
}

@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centererHorizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin centererVertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.all, .all:before, .all:after {
  text-align: center;
  box-sizing: border-box;
}
.preguntaContacto{
  margin: 0;
}
.contactarContacto{
  margin: 0;
  font-size: 1.3rem !important;
}

$primary: #ffe593;
$secondary: #124;
$accent: #e72;

body {
  font: 400 16px Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

.containerContacto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.all h1 {
  margin: 1rem 2rem 0;
  font-size: 2rem;
  color: black;
}

.form {
  padding: 2rem;
}

.button {
  display: block;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 1ch;
  font-size: 1rem;
  color: #fff;
  font-family: inherit;
}

@mixin input {
  display: block;
  width: 100%;
  border: none;
  padding: 1ch;
  border-radius: 3px;
  transition: 150ms ease;
  outline: none;
  font-size: 1.1rem;
  font-family: inherit;
  background-color: #ededed;
  color: black;
}

@mixin input-focus {
  border-color: #ffe593;
}

@mixin label {
  position: absolute;
  top: 1ch;
  left: 1ch;
  padding: 0 .5ch;
  pointer-events: none;
  transition: 150ms ease;
  color: black;
}

@mixin label-focus {
  position: absolute;
  top: 0;
  font-size: 0.9em;
  color: black;
  font-weight: bold;
  transform: translateY(-50%);
  font-weight: 600;
}

.text-input {
  position: relative;
  margin-bottom: 1rem;
  display: inline;

  label {
    @include label;
    top: 0ch;
    left: 2ch;
  }
  label.label-focus {
    top: -1ch !important;
    @include label-focus;
  }
  input {
    @include input;
    width: calc(80% - 2ch);
    display: inline-block;
  }
  input.input-focus {
    @include input-focus;
  }
}
// .all{
//   background-image: url("https://images.unsplash.com/photo-1598847873329-ed1608fb858b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
//   background-size: cover;
// }
.contactoInfoContainer{
  color:#eee;
  margin-right: 8vw;
  width: 20vw;
}
.mailIcon {
display: inline-block;
padding: 2vw;
}
.all .text-area {
  position: relative;
  width: 80vw;
  margin-bottom: 1rem;
  background-color: #ededed !important;
  label {
    @include label;
    top: 2ch;
    left: 2ch;
  }
  label.label-focus {
    @include label-focus;
  }
  textarea {
    @include input;
    height: 8em;
    padding: 2ch;
    width: calc(100% - 4ch);
  }
  textarea.input-focus {
    @include input-focus;
  }
}

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;
  
  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;
    
    #{$vertical}: 0; 
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');
    
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }
  
  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');
    
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }
  
  &:hover {
    color: $hover;
    
    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }
    
    &::before { transition-delay: 0s, 0s, $duration; }
    
    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

// .draw-border {
//   @include btn-border-drawing(#58afd1, #ffe593, 4px, bottom, right);
// }

//=== Button styling, semi-ignore
.all .btncito {
  background: black;
  border: none;
  cursor: pointer;
  font: 700 1.1rem 'Roboto Slab', sans-serif;
  padding: 1ch 0;
  color: white;
  letter-spacing: 1px;
  display: inline-block;
  width: 20%;
  // &:focus { outline: 2px dotted #55d7dc; }
}
}

@media only screen and (min-width: 601px) and (max-width: 1199px) {
  /* Text Color Variables */
$text-color: #444c5c;

/* Color Variables */
$main-bg: #f7f6f4;
$main-grey: #d8d5c4;
$main-green: #78a5a3;
$main-yellow-light: #e1b16a;
$main-yellow: #ffc300;
$main-blue: #444c5c;
$main-dark:rgb(51, 51, 51);
$main-red: #ffe593;
$main-white: #ffffff;
$main-black: #000a17;
$main-overlay:rgba(0, 0, 0, .3);

/* Lists */
$colors: $main-yellow $main-green $main-blue $main-red $main-dark;
$rainbowColors: $main-yellow $main-grey $main-blue $main-red $main-dark $main-red $main-blue $main-grey $main-yellow;
$fourColors: $main-yellow $main-green $main-blue $main-red;
$pages: "home" "about" "skills" "contact" "blog";

//Themes For Every Route
$theme-colors: (
    'bg': (
        'home': $main-dark,
        'about': $main-green,
        'skills': $main-blue,
        'contact': $main-red,
        'blog': $main-yellow,
    ),

    'text': (
        'home': $main-white,
        'about': $main-white,
        'skills': $main-white,
        'contact': $main-white,
        'blog': $main-white,
    ),
);

@function themeColor($key, $variant) {
    $map: map-get($theme-colors, $key);
    @return map-get($map, $variant);
}

@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centererHorizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin centererVertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.all, .all:before, .all:after {
  text-align: center;
  box-sizing: border-box;
}
.preguntaContacto{
  margin: 0;
}
.contactarContacto{
  margin: 0;
  font-size: 1.7rem !important;
}

$primary: #ffe593;
$secondary: #124;
$accent: #e72;

body {
  font: 400 16px Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

.containerContacto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.all h1 {
  margin: 1rem 2rem 0;
  font-size: 3rem;
  color: black;
}

.form {
  padding: 2rem;
}

.button {
  display: block;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 1ch;
  font-size: 1rem;
  color: #fff;
  font-family: inherit;
}

@mixin input {
  display: block;
  width: 100%;
  border: none;
  padding: 1ch;
  border-radius: 3px;
  transition: 150ms ease;
  outline: none;
  font-size: 1.3rem;
  font-family: inherit;
  background-color: #ededed;
  color: black;
}

@mixin input-focus {
  border-color: #ffe593;
}

@mixin label {
  position: absolute;
  top: 1ch;
  left: 1ch;
  padding: 0 .5ch;
  pointer-events: none;
  transition: 150ms ease;
  color: black;
  font-size: 1.2rem;
}

@mixin label-focus {
  position: absolute;
  top: 0;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  transform: translateY(-50%);
  font-weight: 600;
}

.text-input {
  position: relative;
  margin-bottom: 1rem;
  display: inline;

  label {
    @include label;
    top: 0ch;
    left: 2ch;
  }
  label.label-focus {
    top: -2ch !important;
    @include label-focus;
  }
  input {
    @include input;
    padding: 2ch 1ch !important;
    width: calc(80% - 2ch);
    display: inline-block;
    vertical-align: middle;
  }
  input.input-focus {
    @include input-focus;
  }
}
// .all{
//   background-image: url("https://images.unsplash.com/photo-1598847873329-ed1608fb858b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
//   background-size: cover;
// }
.contactoInfoContainer{
  color:#eee;
  margin-right: 8vw;
  width: 20vw;
}
.mailIcon {
  display: inline-block;
  padding: 2vw;
}
.all .text-area {
  position: relative;
  width: 80vw;
  margin-bottom: 1rem;
  background-color: #ededed !important;
  label {
    @include label;
    top: 2ch;
    left: 2ch;
  }
  label.label-focus {
    @include label-focus;
  }
  textarea {
    @include input;
    height: 8em;
    padding: 2ch;
    width: calc(100% - 4ch);
  }
  textarea.input-focus {
    @include input-focus;
  }
}

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;
  
  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;
    
    #{$vertical}: 0; 
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');
    
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }
  
  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');
    
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }
  
  &:hover {
    color: $hover;
    
    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }
    
    &::before { transition-delay: 0s, 0s, $duration; }
    
    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

// .draw-border {
//   @include btn-border-drawing(#58afd1, #ffe593, 4px, bottom, right);
// }

//=== Button styling, semi-ignore
.all .btncito {
  background: black;
  border: none;
  cursor: pointer;
  font: 700 1.1rem 'Roboto Slab', sans-serif;
  padding: 2.3ch 0;
  color: white;
  letter-spacing: 1px;
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  // &:focus { outline: 2px dotted #55d7dc; }
}
}

@media screen and (min-width: 1200px) and (max-width: 1595px) {
  /* Text Color Variables */
$text-color: #444c5c;

/* Color Variables */
$main-bg: #f7f6f4;
$main-grey: #d8d5c4;
$main-green: #78a5a3;
$main-yellow-light: #e1b16a;
$main-yellow: #ffc300;
$main-blue: #444c5c;
$main-dark:rgb(51, 51, 51);
$main-red: #ffe593;
$main-white: #ffffff;
$main-black: #000a17;
$main-overlay:rgba(0, 0, 0, .3);

/* Lists */
$colors: $main-yellow $main-green $main-blue $main-red $main-dark;
$rainbowColors: $main-yellow $main-grey $main-blue $main-red $main-dark $main-red $main-blue $main-grey $main-yellow;
$fourColors: $main-yellow $main-green $main-blue $main-red;
$pages: "home" "about" "skills" "contact" "blog";

//Themes For Every Route
$theme-colors: (
    'bg': (
        'home': $main-dark,
        'about': $main-green,
        'skills': $main-blue,
        'contact': $main-red,
        'blog': $main-yellow,
    ),

    'text': (
        'home': $main-white,
        'about': $main-white,
        'skills': $main-white,
        'contact': $main-white,
        'blog': $main-white,
    ),
);

@function themeColor($key, $variant) {
    $map: map-get($theme-colors, $key);
    @return map-get($map, $variant);
}

@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centererHorizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin centererVertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.all, .all:before, .all:after {
  text-align: center;
  box-sizing: border-box;
}
.preguntaContacto{
  margin: 0;
}
.contactarContacto{
  margin: 0;
  font-size: 1.4rem !important;
}

$primary: #ffe593;
$secondary: #124;
$accent: #e72;

body {
  font: 400 16px Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

.containerContacto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.all h1 {
  margin: 2rem 2rem 0;
  font-size: 2.4rem;
  color: black;
}

.form {
  padding: 2rem;
}

.button {
  display: block;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 1ch;
  font-size: 1rem;
  color: #fff;
  font-family: inherit;
}

@mixin input {
  display: block;
  width: 100%;
  border: none;
  padding: 1ch;
  border-radius: 3px;
  transition: 150ms ease;
  outline: none;
  font-size: 1.2rem;
  font-family: inherit;
  background-color: #ededed;
  color: black;
}

@mixin input-focus {
  border-color: #ffe593;
}

@mixin label {
  position: absolute;
  top: 1ch;
  left: 1ch;
  padding: 0 .5ch;
  pointer-events: none;
  transition: 150ms ease;
  color: black;
}

@mixin label-focus {
  position: absolute;
  top: 0;
  font-size: 0.9em;
  color: black;
  font-weight: bold;
  transform: translateY(-50%);
  font-weight: 600;
}

.text-input {
  position: relative;
  margin-bottom: 1rem;
  display: inline;

  label {
    @include label;
    top: 0ch;
    left: 2ch;
  }
  label.label-focus {
    top: -1.5ch !important;
    @include label-focus;
  }
  input {
    @include input;
    width: calc(80% - 2ch);
    display: inline-block;
  }
  input.input-focus {
    @include input-focus;
  }
}
// .all{
//   background-image: url("https://images.unsplash.com/photo-1598847873329-ed1608fb858b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
//   background-size: cover;
// }
.contactoInfoContainer{
  color:#eee;
  margin-right: 8vw;
  width: 20vw;
}
.mailIcon {
display: inline-block;
padding: 2vw;
}
.all .text-area {
  position: relative;
  width: 45vw;
  margin-bottom: 1rem;
  background-color: #ededed !important;
  label {
    @include label;
    top: 2ch;
    left: 2ch;
  }
  label.label-focus {
    @include label-focus;
  }
  textarea {
    @include input;
    height: 10em;
    padding: 2ch;
    width: calc(100% - 4ch);
  }
  textarea.input-focus {
    @include input-focus;
  }
}

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;
  
  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;
    
    #{$vertical}: 0; 
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');
    
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }
  
  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');
    
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }
  
  &:hover {
    color: $hover;
    
    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }
    
    &::before { transition-delay: 0s, 0s, $duration; }
    
    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

// .draw-border {
//   @include btn-border-drawing(#58afd1, #ffe593, 4px, bottom, right);
// }

//=== Button styling, semi-ignore
.all .btncito {
  background: black;
  border: none;
  cursor: pointer;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1ch 0;
  color: white;
  letter-spacing: 1px;
  display: inline-block;
  width: 20%;
  // &:focus { outline: 2px dotted #55d7dc; }
}
}

@media screen and (min-width: 1595px) {
  /* Text Color Variables */
$text-color: #444c5c;

/* Color Variables */
$main-bg: #f7f6f4;
$main-grey: #d8d5c4;
$main-green: #78a5a3;
$main-yellow-light: #e1b16a;
$main-yellow: #ffc300;
$main-blue: #444c5c;
$main-dark:rgb(51, 51, 51);
$main-red: #ffe593;
$main-white: #ffffff;
$main-black: #000a17;
$main-overlay:rgba(0, 0, 0, .3);

/* Lists */
$colors: $main-yellow $main-green $main-blue $main-red $main-dark;
$rainbowColors: $main-yellow $main-grey $main-blue $main-red $main-dark $main-red $main-blue $main-grey $main-yellow;
$fourColors: $main-yellow $main-green $main-blue $main-red;
$pages: "home" "about" "skills" "contact" "blog";

//Themes For Every Route
$theme-colors: (
    'bg': (
        'home': $main-dark,
        'about': $main-green,
        'skills': $main-blue,
        'contact': $main-red,
        'blog': $main-yellow,
    ),

    'text': (
        'home': $main-white,
        'about': $main-white,
        'skills': $main-white,
        'contact': $main-white,
        'blog': $main-white,
    ),
);

@function themeColor($key, $variant) {
    $map: map-get($theme-colors, $key);
    @return map-get($map, $variant);
}

@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centererHorizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin centererVertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.all, .all:before, .all:after {
  text-align: center;
  box-sizing: border-box;
}
.preguntaContacto{
  margin: 0;
}
.contactarContacto{
  margin: 0;
  font-size: 1.6rem !important;
}

$primary: #ffe593;
$secondary: #124;
$accent: #e72;

body {
  font: 400 16px Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

.containerContacto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.all h1 {
  margin: 2rem 2rem 0;
  font-size: 3rem;
  color: black;
}

.form {
  padding: 2rem;
}

.button {
  display: block;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 1ch;
  font-size: 1rem;
  color: #fff;
  font-family: inherit;
}

@mixin input {
  display: block;
  width: 100%;
  border: none;
  padding: 1ch;
  border-radius: 3px;
  transition: 150ms ease;
  outline: none;
  font-size: 1.2rem;
  font-family: inherit;
  background-color: #ededed;
  color: black;
}

@mixin input-focus {
  border-color: #ffe593;
}

@mixin label {
  position: absolute;
  top: 1ch;
  left: 1ch;
  padding: 0 .5ch;
  pointer-events: none;
  transition: 150ms ease;
  color: black;
}

@mixin label-focus {
  position: absolute;
  top: 0;
  font-size: 0.9em;
  color: black;
  font-weight: bold;
  transform: translateY(-50%);
  font-weight: 600;
}

.text-input {
  position: relative;
  margin-bottom: 1rem;
  display: inline;

  label {
    @include label;
    top: 0ch;
    left: 2ch;
  }
  label.label-focus {
    top: -1.8ch !important;
    @include label-focus;
  }
  input {
    @include input;
    width: calc(80% - 2ch);
    display: inline-block;
  }
  input.input-focus {
    @include input-focus;
  }
}
// .all{
//   background-image: url("https://images.unsplash.com/photo-1598847873329-ed1608fb858b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
//   background-size: cover;
// }
.contactoInfoContainer{
  color:#eee;
  margin-right: 8vw;
  width: 20vw;
}
.mailIcon {
display: inline-block;
padding: 2vw;
}
.all .text-area {
  position: relative;
  width: 45vw;
  margin-bottom: 1rem;
  background-color: #ededed !important;
  label {
    @include label;
    top: 2ch;
    left: 2ch;
  }
  label.label-focus {
    @include label-focus;
  }
  textarea {
    @include input;
    height: 16em;
    padding: 2ch;
    width: calc(100% - 4ch);
  }
  textarea.input-focus {
    @include input-focus;
  }
}

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;
  
  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;
    
    #{$vertical}: 0; 
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');
    
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }
  
  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');
    
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }
  
  &:hover {
    color: $hover;
    
    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }
    
    &::before { transition-delay: 0s, 0s, $duration; }
    
    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

// .draw-border {
//   @include btn-border-drawing(#58afd1, #ffe593, 4px, bottom, right);
// }

//=== Button styling, semi-ignore
.all .btncito {
  background: black;
  border: none;
  cursor: pointer;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1ch 0;
  color: white;
  letter-spacing: 1px;
  display: inline-block;
  width: 20%;
  // &:focus { outline: 2px dotted #55d7dc; }
}
}


