@media only screen and (max-width: 600px) {
  .footer a {
    color: white;
    text-decoration: none;
  }
  .footer {
    margin-top: 30px;
    background-color: #000;
    color: white;
    padding: 20px;
  }
  .containerFooter {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .footerRow {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }
  .footerColLogo {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 25%;
    text-align: center;
    margin-bottom: 10px;
  }
  .footerLogo {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
  }
  .footerCol {
    flex: 1 45%;
    max-width: none;
    padding: 0 0.5rem;
    text-align: center;
    margin-bottom: 15px;
  }
  .footerTitulo h4 {
    font-size: 15px;
    font-family: "Russo One", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .footerCol ul {
    padding: 0;
    margin: 0;
  }
  .footerCol li {
    word-break: break-word;
    list-style: none;
  }
  .footerCol li a {
    font-size: 16px;
    letter-spacing: 1px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .footer a {
    color: white;
    text-decoration: none;
  }
  .footer {
    margin-top: 30px;
    background-color: #000;
    color: white;
    padding: 40px;
  }
  .containerFooter {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 0;
    margin-left: 0;
  }
  .footerRow {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }
  .footerColLogo {
    flex: 0 0 12.6667%;
    max-width: 12.6667%;
    padding: 0 1rem;
  }
  .footerLogo {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
  }
  .footerCol {
    flex: 1;
    max-width: none;
    padding: 0 0.5rem;
  }
  .footerTitulo h4 {
    font-size: 15px;
    font-family: "Russo One", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .footerCol ul {
    padding: 0;
    margin: 0;
  }
  .footerCol li {
    word-break: break-word;
    list-style: none;
  }
  .footerCol li a {
    font-size: 16px;
    letter-spacing: 1px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1595px) {
  .footer a {
    color: white;
    text-decoration: none;
  }
  .footer {
    margin-top: 40px;
    background-color: #000;
    color: white;
    padding: 40px;
  }
  .containerFooter {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 0;
    margin-left: 0;
  }
  .footerRow {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }
  .footerColLogo {
    flex: 0 0 12.6667%;
    max-width: 12.6667%;
    padding: 0 1rem;
  }
  .footerLogo {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
  }
  .footerCol {
    flex: 1;
    max-width: none;
    padding: 0 0.5rem;
  }
  .footerTitulo h4 {
    font-size: 15px;
    font-family: "Russo One", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .footerCol ul {
    padding: 0;
    margin: 0;
  }
  .footerCol li {
    word-break: break-word;
    list-style: none;
  }
  .footerCol li a {
    font-size: 16px;
    letter-spacing: 1px;
  }
}

@media only screen and (min-width: 1596px) {
  .footer a {
    color: white;
    text-decoration: none;
  }
  .footer {
    margin-top: 40px;
    background-color: #000;
    color: white;
    padding: 40px;
  }
  .containerFooter {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    margin-right: 0;
    margin-left: 0;
  }
  .footerRow {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }
  .footerColLogo {
    flex: 0 0 12.6667%;
    max-width: 12.6667%;
    padding: 0 1rem;
  }
  .footerLogo {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
  }
  .footerCol {
    flex: 1;
    max-width: none;
    padding: 0 0.5rem;
  }
  .footerTitulo h4 {
    font-size: 15px;
    font-family: "Russo One", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .footerCol ul {
    padding: 0;
    margin: 0;
  }
  .footerCol li {
    word-break: break-word;
    list-style: none;
  }
  .footerCol li a {
    font-size: 16px;
    letter-spacing: 1px;
  }
}
