@media only screen and (max-width: 600px) {
  .Homepage {
    background-color: black;
    padding: 15px 0;
  }
  .destTitulo {
    color: #f2f37b;
    margin: 0;
    text-align: center;
  }

  .prodDest {
    width: 80%;
    margin: 20px 0;
    margin-left: 10%;
    border: solid 2px #777777;
    padding-top: 10px;
  }
  .imgDest {
    width: 45%;
    display: inline-block;
    padding: 10px;
    padding-right: 0;
  }
  .datosDest {
    padding-left: 5%;
    display: inline-block;
    color: white;
    width: 45%;
    text-align: center;
    vertical-align: top;
  }
  .nombreDest {
    font-size: 25px;
    color: #f2f37b;
    text-align: center;
  }
  .destCarro {
    font-size: 40px;
  }
  .textoHome {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    color: white;
  }
  .tituloTextoHome {
    color: #f2f37b;
    margin: 5px 0;
    text-decoration: underline #767171;
  }
  .imgTextoHome {
    width: 80%;
    padding: 0 auto;
  }
  .cuerpoTextoHome {
    font-size: 20px;
    margin: 10px 0;
    text-align: justify;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .Homepage {
    background-color: black;
    padding: 15px 0;
  }
  .destTitulo {
    color: #f2f37b;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
  }

  .prodDest {
    width: 70%;
    margin: 20px 0;
    margin-left: 15%;
    border: solid 5px #777777;
    padding-top: 10px;
  }
  .imgDest {
    width: 45%;
    display: inline-block;
    padding: 3%;
    padding-right: 0;
  }
  .datosDest {
    padding-left: 5%;
    display: inline-block;
    color: white;
    width: 45%;
    text-align: center;
    vertical-align: top;
  }
  .nombreDest {
    font-size: 35px;
    color: #f2f37b;
    text-align: center;
    padding-bottom: 10px;
  }
  .destCarro {
    font-size: 50px;
  }
  .textoHome {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    color: white;
  }
  .tituloTextoHome {
    color: #f2f37b;
    margin: 5px 0;
    text-decoration: underline #767171;
    font-size: 40px;
  }
  .imgTextoHome {
    width: 60%;
    padding: 0 auto;
  }
  .cuerpoTextoHome {
    font-size: 30px;
    margin: 15px 0;
    text-align: justify;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1595px) {
  .Homepage {
    background-color: black;
    padding: 15px 0;
  }
  .destTitulo {
    color: #f2f37b;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
  }
  .prodDest {
    width: 25%;
    height: 25vw;
    border: solid 5px #777777;
    padding-top: 10px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5.6%;
    text-align: center;
  }
  .imgDest {
    height: 45%;
    padding: 3%;
  }
  .datosDest {
    color: white;
  }
  .nombreDest {
    font-size: 35px;
    color: #f2f37b;
    padding-bottom: 10px;
    margin: 0 !important;
  }
  .destCarro {
    font-size: 50px;
  }
  .textoHome {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    color: white;
  }
  .tituloTextoHome {
    color: #f2f37b;
    margin: 5px 0;
    text-decoration: underline #767171;
    font-size: 35px;
  }
  .imgTextoHome {
    width: 40%;
    padding: 0 auto;
  }
  .cuerpoTextoHome {
    font-size: 25px;
    margin: 15px 0;
    text-align: justify;
  }
}

@media only screen and (min-width: 1596px) {
  .Homepage {
    background-color: black;
    padding: 15px 0;
  }
  .destTitulo {
    color: #f2f37b;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
  }
  .prodDest {
    width: 25%;
    height: 20vw;
    border: solid 5px #777777;
    padding-top: 10px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5.6%;
    text-align: center;
    margin-bottom: 20px;
  }
  .imgDest {
    height: 50%;
    padding: 3%;
  }
  .datosDest {
    color: white;
  }
  .nombreDest {
    font-size: 35px;
    color: #f2f37b;
    padding-bottom: 10px;
    margin: 0 !important;
  }
  .destCarro {
    font-size: 50px;
  }
  .textoHome {
    width: 60%;
    margin-left: 20%;
    text-align: center;
    color: white;
  }
  .tituloTextoHome {
    color: #f2f37b;
    margin: 5px 0;
    text-decoration: underline #767171;
    font-size: 35px;
  }
  .imgTextoHome {
    width: 40%;
    padding: 0 auto;
  }
  .cuerpoTextoHome {
    font-size: 25px;
    margin: 15px 0;
    text-align: justify;
  }
}
