@font-face {
  font-family: "AvenirLight";
  src: url("../fonts/Avenir\ Light.ttf");
}
@font-face {
  font-family: "AvenirBook";
  src: url("../fonts/Avenir\ Book.ttf");
}
@font-face {
  font-family: "AvenirBlack";
  src: url("../fonts/Avenir\ Black.ttf");
}
@font-face {
  font-family: "MonumentLight";
  src: url("../fonts/Monument\ Extended\ Light.ttf");
}
@font-face {
  font-family: "MonumentRegular";
  src: url("../fonts/MonumentExtended-Regular.otf");
}
@font-face {
  font-family: "MonumentUltrabold";
  src: url("../fonts/MonumentExtended-Ultrabold.otf");
}
body {
  font-family: "AvenirLight" !important;
}

@media only screen and (max-width: 600px) {
  .miCuenta {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin: 30px;
  }
  .miCuenta .container {
    max-width: 1200px;
    width: 100%;
  }
  .tituloCuenta {
    margin-bottom: 30px;
    text-align: center !important;
  }
  .tituloCuenta h1 {
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    margin: 30px auto;
    position: relative;
    max-width: max-content;
    text-transform: uppercase;
    line-height: 1 !important;
    letter-spacing: 2px;
    font-family: "MonumentUltraBold" !important;
  }
  .tituloCuenta a {
    text-decoration: none;
    color: #000;
    outline: none;
  }
  .detallesCuenta {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .detallesCuenta div {
    vertical-align: top;
    padding-left: 15px;
    display: inline-block;
    font-size: 16px;
    width: 100%;
  }
  .detallesCuenta h2 {
    font-size: 28px;
    text-transform: uppercase;
    line-height: 1;
    margin: 0 0 17.5px;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 1 !important;
    letter-spacing: 1px;
    font-family: "MonumentRegular" !important;
  }
  .detallesCuenta p {
    font-size: 14px;
    color: #000;
    margin: 0 0 19.44px;
  }
  .detallesCuenta a {
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 0;
    line-height: 1.2;
    transition: 0.6s;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    color: white;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.57px;
    text-transform: uppercase;
    background-color: black;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .miCuenta {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin: 30px;
  }
  .miCuenta .container {
    max-width: 1200px;
    width: 100%;
  }
  .tituloCuenta {
    margin-bottom: 30px;
    text-align: center !important;
  }
  .tituloCuenta h1 {
    font-size: 50px;
    line-height: 1.5;
    text-align: center;
    margin: 30px auto;
    position: relative;
    max-width: max-content;
    text-transform: uppercase;
    line-height: 1 !important;
    letter-spacing: 2px;
    font-family: "MonumentUltraBold" !important;
  }
  .tituloCuenta a {
    text-decoration: none;
    color: #000;
    outline: none;
  }
  .detallesCuenta {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .detallesCuenta div {
    vertical-align: top;
    padding-left: 15px;
    display: inline-block;
    font-size: 30px;
    width: 100%;
  }
  .detallesCuenta h2 {
    font-size: 43px;
    text-transform: uppercase;
    line-height: 1;
    margin: 0 0 17.5px;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 1 !important;
    letter-spacing: 1px;
    font-family: "MonumentRegular" !important;
  }
  .detallesCuenta p {
    font-size: 28px;
    color: #000;
    margin: 0 0 19.44px;
  }
  .detallesCuenta a {
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 0;
    line-height: 1.2;
    transition: 0.6s;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    color: white;
    font-weight: normal;
    font-size: 32px;
    letter-spacing: 0.57px;
    text-transform: uppercase;
    background-color: black;
    margin-top: 35px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1595px) {
  .miCuenta {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin: 30px;
  }
  .miCuenta .container {
    max-width: 1200px;
    width: 100%;
  }
  .tituloCuenta {
    margin-bottom: 30px;
    text-align: center !important;
  }
  .tituloCuenta h1 {
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    margin: 30px auto;
    position: relative;
    max-width: max-content;
    text-transform: uppercase;
    line-height: 1 !important;
    letter-spacing: 2px;
    font-family: "MonumentUltraBold" !important;
  }
  .tituloCuenta a {
    text-decoration: none;
    color: #000;
    outline: none;
  }
  .detallesCuenta {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .detallesCuenta div {
    vertical-align: top;
    padding-left: 15px;
    display: inline-block;
    font-size: 16px;
    width: 100%;
  }
  .detallesCuenta h2 {
    font-size: 28px;
    text-transform: uppercase;
    line-height: 1;
    margin: 0 0 17.5px;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 1 !important;
    letter-spacing: 1px;
    font-family: "MonumentRegular" !important;
  }
  .detallesCuenta p {
    font-size: 14px;
    color: #000;
    margin: 0 0 19.44px;
  }
  .detallesCuenta a {
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 0;
    line-height: 1.2;
    transition: 0.6s;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    color: white;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.57px;
    text-transform: uppercase;
    background-color: black;
    margin-top: 35px;
  }
}

@media only screen and (min-width: 1596px) {
  .miCuenta {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin: 30px;
  }
  .tituloCuenta {
    margin-bottom: 30px;
    text-align: center !important;
  }
  .tituloCuenta h1 {
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    margin: 30px auto;
    position: relative;
    max-width: max-content;
    text-transform: uppercase;
    line-height: 1 !important;
    letter-spacing: 2px;
    font-family: "MonumentUltraBold" !important;
    line-height: 1 !important;
    letter-spacing: 3px;
    font-family: "MonumentUltraBold" !important;
  }
  .tituloCuenta a {
    text-decoration: none;
    color: #000;
    outline: none;
    font-size: 18px;
  }
  .detallesCuenta {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-top: 50px;
  }
  .detallesCuenta div {
    vertical-align: top;
    padding-left: 15px;
    display: inline-block;
    font-size: 16px;
    width: 100%;
  }
  .detallesCuenta h2 {
    font-size: 28px;
    text-transform: uppercase;
    line-height: 1;
    margin: 0 0 17.5px;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 1 !important;
    letter-spacing: 1px;
    font-family: "MonumentRegular" !important;
  }
  .detallesCuenta p {
    font-size: 18px;
    color: #000;
    margin: 0 0 19.44px;
  }
  .detallesCuenta a {
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 0;
    line-height: 1.2;
    transition: 0.6s;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    color: white;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 0.57px;
    text-transform: uppercase;
    background-color: black;
    margin-top: 35px;
  }
}
