.Cuenta {
  width: 90%;
  padding-left: 5%;
}
.cuentaTitulo {
  color: #f2f37b;
  margin: 0;
  text-align: center;
}
.correoCuenta {
  color: white;
  margin-bottom: 0px;
}
.direcCuenta h2 {
  width: 83%;
  font-size: 28px;
  background-color: #777777;
  display: inline-block;
  color: white;
  padding-left: 5px;
}
.direcCuenta button {
  display: inline-block;
  padding: 0;
  font-size: 50px;
  background: none;
  border: none;
  color: #dcba2c;
  padding-left: 0.5%;
  cursor: pointer;
}
.direcCuenta button svg {
  vertical-align: middle;
}
.pedidos {
  text-align: center;
  margin: 15px 0;
}
.pedidos button {
  background-color: #777777;
  border: none;
  border-radius: 15%;
  font-size: 25px;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
}
.error {
  text-align: center;
  margin: 30px 0;
}
.error button {
  background-color: #bf9000;
  border: none;
  border-radius: 15%;
  font-size: 25px;
  cursor: pointer;
  padding: 10px 15px;
}
.LogOut {
  text-align: center;
  margin-top: 60%;
}
.LogOut button {
  background: none;
  border: 2px solid white;
  border-radius: 15%;
  font-size: 25px;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
}
