@font-face {
  font-family: "AvenirLight";
  src: url("../fonts/Avenir\ Light.ttf");
}
@font-face {
  font-family: "AvenirBook";
  src: url("../fonts/Avenir\ Book.ttf");
}
@font-face {
  font-family: "AvenirBlack";
  src: url("../fonts/Avenir\ Black.ttf");
}
@font-face {
  font-family: "MonumentLight";
  src: url("../fonts/Monument\ Extended\ Light.ttf");
}
@font-face {
  font-family: "MonumentRegular";
  src: url("../fonts/MonumentExtended-Regular.otf");
}
@font-face {
  font-family: "MonumentUltrabold";
  src: url("../fonts/MonumentExtended-Ultrabold.otf");
}
body {
  font-family: "AvenirLight" !important;
}
@media only screen and (max-width: 600px) {
  .signo {
    font-size: 30px !important;
  }
  .navBar a {
    text-decoration: none;
    color: white;
  }
  .PC {
    display: none !important;
  }
  .navBar {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 88;
  }
  .textoArriba {
    height: 31px;
    padding: 6px 16px;
    background-color: #757070;
    overflow: hidden;
    position: relative;
    z-index: 80;
  }
  .textoArriba ul {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .textoArriba li {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .textoArriba a {
    font-size: 0.75rem;
    line-height: 1.167;
    letter-spacing: normal;
    text-transform: uppercase;
    font-weight: 700;
    color: #000 !important;
  }
  .navHeader {
    line-height: 1.2;
  }
  .headerWrapper {
    display: flex;
    align-items: center;
    width: calc(100%-30);
    padding: 7px 14px 7px 16px;
    background-color: #000;
    height: 54px;
    position: relative;
    z-index: 78;
  }
  .wrapperIzq {
    display: flex;
    align-items: center;
  }
  .wrapperIzq a {
    padding: 0 5px;
    outline: none !important;
    cursor: pointer;
    z-index: 30;
  }
  .wrapperIzq a.active {
    display: none;
  }
  .filtroNav {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: #000;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }
  .filtroNav.active {
    pointer-events: all;
    opacity: 0.5;
    visibility: visible;
  }
  .navbarCel {
    background: #000;
    height: calc(100vh - 85px);
    position: fixed;
    top: 65px;
    left: 0;
    padding: 32px 16px 150px 16px;
    width: 100%;
    max-width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    touch-action: manipulation;
    visibility: hidden;
    z-index: 20;
  }
  .navbarCel.active {
    visibility: visible;
    letter-spacing: 1px;
    line-height: 1 !important;
    font-weight: 1 !important;
    font-family: "MonumentLight" !important;
  }
  .navCel {
    margin-bottom: 44px;
  }
  .navUlCel {
    margin: 0;
    padding: 0;
  }
  .navIlCel {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    list-style: none;
  }
  .navToggleCel {
    align-items: center;
  }
  .navWrapperCel {
    flex: 0 0 240px;
    margin-right: 20px;
  }
  .navLinkCel {
    font-size: 20px;
    line-height: 1.1;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
  }
  .navLinkCel2 {
    display: block;
    font-size: 1.125rem;
    line-height: 1.278;
    letter-spacing: 0.2px;
    color: white;
    margin-bottom: 12px;
  }
  .espacioNav {
    margin-bottom: 35px;
  }
  .navCelSocial {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  /* .navCelSocialLink{
    
  } */
  .navPC ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .navPC li {
    color: white;
    padding-left: 0;
    padding-right: 32px;
    list-style: none;
  }
  .navPC li:hover {
    color: #ff4438;
  }
  .navPC a {
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    padding: 30px 0;
    display: inline-block;
    font-weight: 700;
  }
  .navLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navLogoLink img {
    max-width: 100%;
    width: 60px;
    vertical-align: middle;
  }
  .derPC {
    margin-left: 45%;
  }
  .navExtra {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .navWrapperPC {
    font-size: 1rem;
    padding-right: 10px;
  }
  .navCarro {
    flex-shrink: 0;
  }
  .navCarro a {
    background-color: #ff4438;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.25px;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .navBar a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
  .PC {
    display: none !important;
  }
  .navBar {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 88;
  }
  .textoArriba {
    height: 31px;
    padding: 6px 16px;
    background-color: #757070;
    overflow: hidden;
    position: relative;
    z-index: 80;
  }
  .textoArriba ul {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .textoArriba li {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .textoArriba a {
    font-size: 0.75rem;
    line-height: 1.167;
    letter-spacing: normal;
    text-transform: uppercase;
    font-weight: 700;
    color: #000 !important;
  }
  .navHeader {
    line-height: 1.2;
  }
  .headerWrapper {
    display: flex;
    align-items: center;
    width: calc(100% - 30px);
    padding: 7px 14px 7px 16px;
    background-color: #000;
    height: 54px;
    position: relative;
    z-index: 78;
  }
  .wrapperIzq {
    display: flex;
    align-items: center;
  }
  .wrapperIzq a {
    padding: 15px 5px 0 5px;
    outline: none !important;
    cursor: pointer;
    z-index: 30;
  }
  .signo {
    font-size: 40px !important;
  }
  .wrapperIzq a.active {
    display: none;
  }
  .filtroNav {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: #000;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }
  .filtroNav.active {
    pointer-events: all;
    opacity: 0.5;
    visibility: visible;
  }
  .navbarCel {
    background: #000;
    height: calc(100vh - 85px);
    position: fixed;
    top: 65px;
    left: 0;
    padding: 32px 16px 150px 16px;
    width: 100%;
    max-width: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    touch-action: manipulation;
    visibility: hidden;
    z-index: 20;
  }
  .navbarCel.active {
    visibility: visible;
    letter-spacing: 3px;
    line-height: 1 !important;
    font-weight: 1 !important;
    font-family: "MonumentLight" !important;
  }
  .navCel {
    margin-bottom: 44px;
  }
  .navUlCel {
    margin: 0;
    padding: 0;
  }
  .navIlCel {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    list-style: none;
  }
  .navToggleCel {
    align-items: center;
  }
  .navWrapperCel {
    flex: 0 0 240px;
    margin-right: 20px;
  }
  .navLinkCel {
    font-size: 20px;
    line-height: 1.1;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
  }
  .navLinkCel2 {
    display: block;
    font-size: 1.125rem;
    line-height: 1.278;
    letter-spacing: 0.2px;
    color: white;
    margin-bottom: 12px;
  }
  .espacioNav {
    margin-bottom: 35px;
  }
  .navCelSocial {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  /* .navCelSocialLink{
    
  } */
  .navPC ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .navPC li {
    color: white;
    padding-left: 0;
    padding-right: 32px;
    list-style: none;
  }
  .navPC li:hover {
    color: #ff4438;
  }
  .navPC a {
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    padding: 30px 0;
    display: inline-block;
    font-weight: 700;
  }
  .navLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navLogoLink img {
    max-width: 100%;
    width: 60px;
    vertical-align: middle;
  }
  .derPC {
    margin-left: 45%;
  }
  .navExtra {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .navWrapperPC {
    font-size: 1rem;
    padding-right: 10px;
  }
  .navCarro {
    flex-shrink: 0;
  }
  .navCarro a {
    background-color: #ff4438;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.25px;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1595px) {
  .navBar a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
  }
  .PC {
    display: none !important;
  }
  .navBar {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 88;
  }
  .textoArriba {
    height: 31px;
    padding: 6px 16px;
    background-color: #757070;
    overflow: hidden;
    position: relative;
    z-index: 80;
  }
  .textoArriba ul {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .textoArriba li {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .textoArriba a {
    font-size: 0.75rem;
    line-height: 1.167;
    letter-spacing: normal;
    text-transform: uppercase;
    font-weight: 700;
    color: #000 !important;
  }
  .navHeader {
    line-height: 1.2;
  }
  .headerWrapper {
    display: flex;
    align-items: center;
    width: calc(100%-30);
    padding: 7px 14px 7px 16px;
    background-color: #000;
    height: 54px;
    position: relative;
    z-index: 78;
  }
  .wrapperIzq {
    display: flex;
    align-items: center;
  }
  .wrapperIzq a {
    padding: 0 5px;
    outline: none !important;
    cursor: pointer;
    z-index: 30;
  }
  .wrapperIzq a.active {
    display: none;
  }
  .filtroNav {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: #000;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }
  .filtroNav.active {
    pointer-events: all;
    opacity: 0.5;
    visibility: visible;
  }
  .navbarCel {
    background: #000;
    height: calc(100vh - 85px);
    position: fixed;
    top: 50px;
    left: 0;
    padding: 32px 16px 150px 16px;
    width: 100%;
    max-width: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    touch-action: manipulation;
    visibility: hidden;
    z-index: 20;
    letter-spacing: 3px;
    line-height: 1 !important;
    font-weight: 1 !important;
    font-family: "MonumentLight" !important;
  }
  .navbarCel.active {
    visibility: visible;
  }
  .navCel {
    margin-bottom: 44px;
  }
  .navUlCel {
    margin: 0;
    padding: 0;
  }
  .navIlCel {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    list-style: none;
  }
  .navToggleCel {
    align-items: center;
  }
  .navWrapperCel {
    flex: 0 0 240px;
    margin-right: 20px;
  }
  .navLinkCel {
    font-size: 20px;
    line-height: 1.1;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
  }
  .navLinkCel2 {
    display: block;
    font-size: 1.125rem;
    line-height: 1.278;
    letter-spacing: 0.2px;
    color: white;
    margin-bottom: 12px;
  }
  .espacioNav {
    margin-bottom: 35px;
  }
  .navCelSocial {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  /* .navCelSocialLink{
    
  } */
  .navPC ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .navPC li {
    color: white;
    padding-left: 0;
    padding-right: 32px;
    list-style: none;
  }
  .navPC li:hover {
    color: #ff4438;
  }
  .navPC a {
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    padding: 30px 0;
    display: inline-block;
    font-weight: 700;
  }
  .navLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navLogoLink img {
    max-width: 100%;
    width: 60px;
    vertical-align: middle;
  }
  .derPC {
    margin-left: 45%;
  }
  .navExtra {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .navWrapperPC {
    font-size: 1rem;
    padding-right: 10px;
  }
  .navCarro {
    flex-shrink: 0;
  }
  .navCarro a {
    background-color: #ff4438;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.25px;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1596px) {
  .navBar a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
  .celNavbar {
    display: none !important;
  }
  .navBar {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 88;
  }
  .textoArriba {
    height: 31px;
    padding: 6px 16px;
    background-color: #757070;
    overflow: hidden;
    position: relative;
    z-index: 80;
  }
  .textoArriba ul {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .textoArriba li {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .textoArriba a {
    font-size: 0.75rem;
    line-height: 1.167;
    letter-spacing: normal;
    text-transform: uppercase;
    font-weight: 700;
    color: #000 !important;
  }
  .navHeader {
    line-height: 1.2;
  }
  .headerWrapper {
    display: flex;
    align-items: center;
    width: calc(100%-30);
    padding: 17px 14px 17px 16px;
    background-color: #000;
    height: 54px;
    position: relative;
    z-index: 78;
  }
  .wrapperIzq {
    display: flex;
    align-items: center;
  }
  .wrapperIzq a {
    padding: 0 5px;
    outline: none !important;
    cursor: pointer;
    z-index: 30;
  }
  .wrapperIzq a.active {
    display: none;
  }
  .filtroNav {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: #000;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }
  .filtroNav.active {
    pointer-events: all;
    opacity: 0.5;
    visibility: visible;
  }
  .navbarCel {
    background: #000;
    height: calc(100vh - 85px);
    position: fixed;
    top: 100px;
    left: 0;
    padding: 32px 16px 150px 16px;
    width: 100%;
    max-width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    touch-action: manipulation;
    visibility: hidden;
    z-index: 20;
  }
  .navbarCel.active {
    visibility: visible;
  }
  .navCel {
    margin-bottom: 44px;
  }
  .navUlCel {
    margin: 0;
    padding: 0;
  }
  .navIlCel {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    list-style: none;
  }
  .navToggleCel {
    display: flex;
    align-items: center;
  }
  .navWrapperCel {
    flex: 0 0 240px;
    margin-right: 20px;
  }
  .navLinkCel {
    font-size: 20px;
    letter-spacing: -0.42px;
    line-height: 1.1;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
  }
  .navLinkCel2 {
    display: block;
    font-size: 1.125rem;
    line-height: 1.278;
    letter-spacing: 0.2px;
    color: white;
    margin-bottom: 12px;
  }
  .espacioNav {
    margin-bottom: 35px;
  }
  .navCelSocial {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  /* .navCelSocialLink{
    
  } */
  .navPC {
    margin-left: 50px;
  }
  .navPC ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .navPC li {
    color: white;
    padding-left: 0;
    padding-right: 32px;
    list-style: none;
  }
  .navPC li:hover {
    color: #ff4438;
  }
  .navPC a {
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    padding: 30px 0;
    display: inline-block;
    line-height: 1 !important;
    font-weight: 1 !important;
    font-family: "MonumentLight" !important;
  }
  .navPC a:hover {
    color: #ff4438;
  }
  .navLogoLink img {
    max-width: 100%;
    width: 78.7px;
  }
  .derPC {
    margin-left: 26%;
  }
  .navExtra {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .navWrapperPC {
    font-size: 1rem;
  }
  .navCarro {
    flex-shrink: 0;
  }
  .navExtraIcono a {
    padding-right: 15px;
  }
  .navCarrito {
    background-color: #ff4438;
    color: white;
    padding: 4px 7px;
    margin-left: 4px;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: -0.25px;
    border-radius: 100%;
  }
}
