@media only screen and (max-width: 600px) {
  .Producto {
    background-color: black;
    width: 80%;
    text-align: center;
    padding-left: 10%;
    color: white;
  }
  .imgProdInd {
    width: 80%;
  }
  .tituloProdInd {
    color: #bf9000;
    margin: 0;
    text-align: center;
    font-size: 35px;
    padding-top: 2% 5%;
  }
  .precioProdInd {
    font-size: 28px;
    margin: 10px 0;
  }
  .cuerpoTexto {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
  }
  .cantidadProdInd {
    font-size: 25px;
    padding-top: 10px;
  }
  .cantAgregar {
    background-color: white;
    color: black;
    padding: 0 10px;
    margin: 0 10px;
    font-weight: bold;
  }
  .btnCantProdInd {
    cursor: pointer;
    font-size: 30px;
  }
  .agregarCarro {
    background-color: black;
    border-top: 2px solid #dcba2c;
    border-bottom: 2px solid #dcba2c;
    border-left: 3px solid white;
    border-right: 3px solid white;
    color: #f2f37b;
    font-size: 30px;
    padding: 12px 5px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .textoAgregarCarro {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 2px solid #dcba2c;
    border-right: 2px solid #dcba2c;
    padding: 5px 12px;
  }
  .agregarCarro:hover {
    padding: 13px 8px;
    border-top: 4px solid #dcba2c;
    border-bottom: 4px solid #dcba2c;
    border-left: 3px solid white;
    border-right: 3px solid white;
  }
  .agregarCarro:hover > .textoAgregarCarro {
    padding: 7px 15px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 4px solid #dcba2c;
    border-right: 4px solid #dcba2c;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .Producto {
    background-color: black;
    width: 80%;
    text-align: center;
    padding-left: 10%;
    color: white;
  }
  .imgProdInd {
    width: 70%;
  }
  .tituloProdInd {
    color: #bf9000;
    margin: 0;
    text-align: center;
    font-size: 45px;
    padding-top: 3%;
  }
  .precioProdInd {
    font-size: 38px;
    margin: 20px 0;
  }
  .cuerpoTexto {
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
    width: 80%;
    padding-left: 10%;
  }
  .cantidadProdInd {
    font-size: 35px;
    padding-top: 20px;
  }
  .cantAgregar {
    background-color: white;
    color: black;
    padding: 0 10px;
    margin: 0 10px;
    font-weight: bold;
  }
  .btnCantProdInd {
    cursor: pointer;
    font-size: 40px;
  }

  .agregarCarro {
    background-color: black;
    border-top: 3px solid #dcba2c;
    border-bottom: 3px solid #dcba2c;
    border-left: 4px solid white;
    border-right: 4px solid white;
    color: #f2f37b;
    font-size: 40px;
    padding: 16px 7px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .textoAgregarCarro {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 3px solid #dcba2c;
    border-right: 3px solid #dcba2c;
    padding: 7px 14px;
  }
  .agregarCarro:hover {
    padding: 13px 8px;
    border-top: 4px solid #dcba2c;
    border-bottom: 4px solid #dcba2c;
    border-left: 3px solid white;
    border-right: 3px solid white;
  }
  .agregarCarro:hover > .textoAgregarCarro {
    padding: 7px 15px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 4px solid #dcba2c;
    border-right: 4px solid #dcba2c;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1595px) {
  .Producto {
    background-color: black;
    width: 60%;
    text-align: center;
    padding-left: 20%;
    color: white;
  }
  .imgProdInd {
    width: 40%;
  }
  .tituloProdInd {
    color: #bf9000;
    margin: 0;
    text-align: center;
    font-size: 40px;
  }
  .precioProdInd {
    font-size: 33px;
    margin: 10px 0;
  }
  .cuerpoTexto {
    font-size: 25px;
    margin: 20px 0;
    text-align: center;
    width: 80%;
    padding-left: 10%;
  }
  .cantidadProdInd {
    font-size: 30px;
    padding-top: 20px;
  }
  .cantAgregar {
    background-color: white;
    color: black;
    padding: 0 10px;
    margin: 0 10px;
    font-weight: bold;
  }
  .btnCantProdInd {
    cursor: pointer;
    font-size: 35px;
  }
  .agregarCarro {
    background-color: black;
    border-top: 2px solid #dcba2c;
    border-bottom: 2px solid #dcba2c;
    border-left: 3px solid white;
    border-right: 3px solid white;
    color: #f2f37b;
    font-size: 35px;
    padding: 12px 5px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .textoAgregarCarro {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 2px solid #dcba2c;
    border-right: 2px solid #dcba2c;
    padding: 5px 12px;
  }
  .agregarCarro:hover {
    padding: 13px 8px;
    border-top: 3px solid #dcba2c;
    border-bottom: 3px solid #dcba2c;
    border-left: 2px solid white;
    border-right: 2px solid white;
  }
  .agregarCarro:hover > .textoAgregarCarro {
    padding: 7px 15px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 3px solid #dcba2c;
    border-right: 3px solid #dcba2c;
  }
}

@media only screen and (min-width: 1596px) {
  .Producto {
    background-color: black;
    width: 60%;
    text-align: center;
    padding-left: 20%;
    color: white;
  }
  .imgProdInd {
    width: 40%;
  }
  .tituloProdInd {
    color: #bf9000;
    margin: 0;
    text-align: center;
    font-size: 40px;
  }
  .precioProdInd {
    font-size: 33px;
    margin: 10px 0;
  }
  .cuerpoTexto {
    font-size: 25px;
    margin: 20px 0;
    text-align: center;
    width: 80%;
    padding-left: 10%;
  }
  .cantidadProdInd {
    font-size: 30px;
    padding-top: 20px;
  }
  .cantAgregar {
    background-color: white;
    color: black;
    padding: 0 10px;
    margin: 0 10px;
    font-weight: bold;
  }
  .btnCantProdInd {
    cursor: pointer;
    font-size: 35px;
  }
  .agregarCarro {
    background-color: black;
    border-top: 2px solid #dcba2c;
    border-bottom: 2px solid #dcba2c;
    border-left: 3px solid white;
    border-right: 3px solid white;
    color: #f2f37b;
    font-size: 35px;
    padding: 12px 5px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .textoAgregarCarro {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 2px solid #dcba2c;
    border-right: 2px solid #dcba2c;
    padding: 5px 12px;
  }
  .agregarCarro:hover {
    padding: 13px 8px;
    border-top: 3px solid #dcba2c;
    border-bottom: 3px solid #dcba2c;
    border-left: 2px solid white;
    border-right: 2px solid white;
  }
  .agregarCarro:hover > .textoAgregarCarro {
    padding: 7px 15px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 3px solid #dcba2c;
    border-right: 3px solid #dcba2c;
  }
}
